@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


h1 {
    text-align: center;
}

h2 {
    font-weight: bolder;
}
h4 {
    font-weight: bolder;
    color: red;
}

.hero-body {
    border-radius: 25px;
    outline: none;
    box-shadow: 3px 3px var(--dark);
    
  }

